@import '../../styles/_fonts.scss';
@import '../../styles/_bgGradient.scss';


.store {
  background: $background1;
  background: $background2;
  text-align: center;
  opacity: 0.9;
  h2 {
    font-family: $primaryFont;
    color: #fff;
  }

  .row {
    .product {
      .productImg {
        opacity: 0.8;
      }

      .desc {
        button {
          border: none;
          outline: none;
          background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(89,22,50,1) 0%, rgba(204,24,54,1) 100%);
          text-align: left;
          padding: 0.5rem 2rem;
          transition: 1s;
          a {
            font-size: 0.8rem;
            letter-spacing: 0.05rem;
            font-family: $tattooFont !important;
          }
          a:hover {
            text-decoration: none;
            color: #fff;
          }
        }
        button:hover {
          transform: scale(1.06);
        }
      }
    }
  }
}