@import '../../styles/_fonts.scss';
@import '../../styles/_bgGradient.scss';

ul, li, h1, h4, span {
  font-family: $primaryFont;
}

.about {
  opacity: 0.9;
  .row {
    .right {
      background: $background1;
      background: $background2;
      div {
        padding: 3rem;
        h2 {
          font-size: 1rem;
          font-weight: 700;
          color: #fff;
          text-align: left;
        }
        
        h4 {
          color: $red;
          text-align: left;
          font-family: $tattooFont !important;
        }
        
        p {
          text-align: left;
          font-size: 0.8rem;
          letter-spacing: 1px;
        }

        p:first-of-type {
          color: $red;
        }
  
        p:last-of-type {
          color: #fff;
        }
  
        button {
          border: none;
          outline: none;
          background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(89,22,50,1) 0%, rgba(204,24,54,1) 100%);
          text-align: left;
          padding: 0.5rem 2rem;
          transition: 1s;
          a {
            font-size: 1rem;
            letter-spacing: 0.1rem;
            font-family: $tattooFont !important;
            
          }
          a:hover {
            text-decoration: none;
            color: #fff;
          }
        }

        button:hover {
          transform: scale(1.06);
        }
      }
    }
  }
}